p {
  font-family: Lato;
  font-size: larger;
  font-weight: 400;
  color: brown;
  font-style: italic;
  text-align: center;
  background-color: rgba(179, 151, 151, 0.466);
  margin-left: -10px;
  margin-right: -10px;
  padding: 6px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.one {
  text-align: center;
  background-color: rgb(157, 203, 243);
  padding: 16px;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -8px;
  margin-bottom: -8px;
}
